@page "/rentals/detailrental"
@using AppForMovies.Web.API
@inject AppForMoviesAPIClient apiservice



<h3>Rental</h3>

@if (rental==null)
{
    <p>@error</p>    
}else
{
    <table class="table table-borderless table-sm">
        <tr>
            <th>Name and Surname</th>
            <td id="NameSurname">@rental.CustomerNameSurname</td>
        </tr>
        <tr>
            <th>Delivery Address</th>
            <td id="DeliveryAddress">@rental.DeliveryAddress</td>
        </tr>
        <tr>
            <th>Payment Method</th>
            <td id="PaymentMethod">@rental.PaymentMethod</td>
        </tr>
        <tr>
            <th>Rental Date</th>
            <td id="RentalDate">@rental.RentalDate.ToString("dd/MM/yyyy hh:mm:ss")</td>
        </tr>
        <tr>
            <th>Rental period</th>
            <td id="RentalPeriod">@rental.RentalDateFrom.DateTime.ToString("dd/MM/yyyy") - @rental.RentalDateTo.DateTime.ToString("dd/MM/yyyy")</td>
        </tr>
    </table>
    <h4>Rented Movies</h4>

    <table class="table" id="RentedMovies">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Genre</th>
                <th scope="col">Price for Renting</th>
                <th scope="col">Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (RentalItemDTO item in rental.RentalItems)
            {
                <tr id="RentalItem_@item.Title">
                    <td>@item.Title</td>
                    <td>@item.Genre</td>
                    <td>@item.PriceForRenting €</td>
                    <td>@item.Description</td>
                </tr>
            }
        </tbody>
        <tfoot>
              @*colspan is used to state that TWO columns are collapsed*@
            <th scope="row" colspan="2" class="text-end">Total Price</th>
            <td id="TotalPrice">@rental.TotalPrice €</td>
        </tfoot>

    </table>

    }

@code {
    [Parameter]
    [SupplyParameterFromQuery]
    public int RentalID { get; set; }
    private RentalDetailDTO rental;
    private string error = "";

  

    protected override async Task OnInitializedAsync()
    {

        //we check the user is logged in

        rental = await apiservice.GetRentalAsync(RentalID);



    }

}
